{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='auth.css') }}">
{% endblock %}

{% block body %}
<form class="auth" method="POST">
	<h2 class="form-title">{% if path == url_for('login') %}Вход{% else %}Регистрация{% endif %}</h2>
	<script async src="https://telegram.org/js/telegram-widget.js?21" data-telegram-login="FPGFeedbackBot" data-size="large" data-auth-url="/telegram" data-request-access="write"></script>
	<button>{% if path == url_for('login') %}Войти{% else %}Зарегистрироваться{% endif %}</button>
</form>
{% endblock %}