div.auth{
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	display: flex;
	flex-direction: column;
	padding: 15px;
	width: 100%;
	max-width: 300px;
	background-color: rgba(25, 25, 112, .3);
	border-radius: 15px;
	border: 1px solid black;
	box-shadow: 3px 5px rgba(23, 13, 33, .3);
}

div.auth, div.auth *{
	box-sizing: border-box;
	color: rgb(var(--text-color));
}

div.auth > form{
	display: flex;
	flex-direction: column;
	background-color: transparent;
	width: 100%;
	max-width: inherit;
	margin-bottom: 15px;
}

div.auth > form > *:not(input):not(button){
	padding: 5px;
	font-size: 15px;
}

div.auth > form > h4.title{
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
}

div.auth > form > p.reason{
	display: none;
	background-color: rgba(var(--error-background), .5);
	color: rgb(var(--error-text));
	border-radius: 5px;
	border: 1px solid rgb(var(--error-background));
}

div.auth > form > input{
	border: none;
	border-bottom: 2px solid cyan;
	background-color: transparent;
	padding-left: 7px;
	padding-bottom: 2.5px;
	caret-color: rgb(var(--caret-color));
	color: rgb(var(--text-color));
	margin-bottom: 7px;
}

div.auth > form > button{
	border: 1.2px solid cyan;
	background-color: transparent;
	color: rgb(var(--text-color));
	border-radius: 8px;
	padding: 4px;
	transition: .3s background-color, .3s color;
}

div.auth > form > button:hover{
	background-color: rgb(var(--button-hovered), .5);
	color: rgb(var(--text-color));
}

div.auth > p.lined{
	position: relative;
	font-size: 10px;
	text-align: center;
}

div.auth > p.lined::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
}