body{
	--text-color: 0, 0, 139;
	--background-color: 148, 228, 255;
	--caret-color: 224, 255, 255;
	--button-hovered: 126, 126, 159;
	--error-background: 191, 75, 75;
	--error-text: 139, 0, 0;
	transition: 1s all ease-in-out;
}

body.dark{
	--text-color: 0, 139, 139;
	--background-color: 17, 23, 25;
	--button-hovered: 96, 96, 170;
}

*, *::before, *::after{
	padding: 0;
	margin: 0;
	outline: none;
	user-select: none;
}

input{
	user-select: auto;
}

body{
	min-height: 100vh;
	min-width: 100vw;
	background-color: rgb(var(--background-color));
	color: rgb(var(--text-color));
}

a{
	color: black;
	text-decoration: none;
}

ul{
	list-style-type: none;
}

ul.nav{
	height: 40px;
	width: 100%;
	background-color: #0d1721;
}

ul.nav > li.item{
	position: relative;
	width: max-content;
	cursor: pointer;
	float: left;
	height: inherit;
	background-color: inherit;
}

ul.nav > li.item:not(.dropdown) > *,
ul.nav > li.item.dropdown > span.dropdown_text{
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: inherit;
	text-align: center;
	height: inherit;
	padding: 0 16px;
	color: #f1f1f1;
	z-index: 10;
}

ul.nav > li.item > *:not(svg){
	box-sizing: border-box;
}

ul.nav > li.item > a.active{
	background-color: #04AA6D;
}

ul.nav > li.item > *:not(.active):hover,
ul.nav > li.item.dropdown:hover{
	background-color: black;
}

ul.nav > li.item.dropdown{
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	min-width: 53.15px;
	padding: 0 16px;
	color: #f1f1f1;
	z-index: 10;
}

ul.nav > li.item.dropdown > span.dropdown_text{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

ul.nav > li.item.dropdown > span.dropdown_text::after{
	content: "";
	position: absolute;
	right: 11px;
	display: block;
	margin-left: 2px;
	width: 5px;
	height: 5px;
	border-right: 2px solid #f1f1f1;
	border-bottom: 2px solid #f1f1f1;
	transform: rotate(45deg);
	z-index: 10;
	transition: .3s transform ease-in-out;
}

ul.nav > li.item.dropdown:hover > span.dropdown_text::after{
	transform: rotate(-135deg);
}

ul.nav > li.item.dropdown > div.content{
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 0;
	top: 40px;
	z-index: 1;
	background-color: #0d1721;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	translate: 0 -100%;
	transition: .3s translate ease-in-out;
}

ul.nav > li.item.dropdown:hover > div.content{
	translate: 0 0;
	background-color: black;
}

ul.nav > li.item.dropdown > div.content > button{
	background-color: transparent;
	cursor: pointer;
	width: 100%;
	border: none;
	border-radius: none;
	padding: 0 5px;
	font-size: 15px;
	color: #f1f1f1;
	z-index: inherit;
}

ul.nav > li.item.dropdown > div.content > button:last-child{
	padding-bottom: 3px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

ul.nav > li.item.dropdown > div.content > button:hover{
	background-color: rgb(33, 23, 13);
}
