<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{%- if title is defined %}{{ title }} - {% endif %}FPG</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
	{%- block head %}{% endblock %}
</head>
<body>
	<ul class="nav">
		<li class="item">
			<a {% if path == url_for('index') %}class="active" {% endif %}href="{{ url_for('index') }}">
				{% trans %}Главная{% endtrans %}
			</a>
		</li>
		<li class="item">
			<a {% if path == url_for('streams') %}class="active" {% endif %}href="{{ url_for('streams') }}">
				{% trans %}Стримы{% endtrans %}
			</a>
		</li>
		<li class="item" style="float: right;">
			<a {% if path == url_for('auth') %}class="active" {% endif %}href="{{ url_for('auth') }}">
				{% trans %}Войти{% endtrans %}
			</a>
		</li>
		<li class="item language">
			<div class="dropdown">{{ locale.language_name.capitalize()[:3] }}</div>
			<div class="content">
				{% for code, lang in languages.keys() %}
				<button name="{{ code }}" onclick="redirect(this)">{{ lang }}</button>
				{% endfor %}
			</div>
		</li>
	</ul>
	{%- block body %}{% endblock %}
</body>
</html>