{% extends "_base.html" %}

{% block body %}
<div class="auth">
	<form method="POST">
		<label for="username">{% trans %}Имя пользователя:{% endtrans %}</label>
		<input id="username" type="text" name="username" autocomplete="off" required>
		<label for="password">{% trans %}Пароль:{% endtrans %}</label>
		<input id="password" type="password" name="password">
		<button>{% trans %}Войти{% endtrans %}</button>
	</form>
	<script async src="https://telegram.org/js/telegram-widget.js?21" data-telegram-login="ACLFeedbackBot" data-size="medium" data-radius="10" data-auth-url="/auth/telegram"></script>
</div>
{% endblock %}